body{
  background-color: aliceblue;
}

.calculator{
  display: flex;
  flex-direction: column;
  background-color: rgb(49, 49, 49);
  width: 30%;
  padding: 1%;
  margin:5% 25% 5% 25%;
}

.reader {
  background-color: rgb(206, 200, 200, .7);
  margin-bottom:9px;
  color: rgb(208, 243, 186);
  padding: 0px 10px 0px 10px;
  font-size: 25px;
}

button{
  height:70px;
  width:70px;
  margin:1px;

}

#zero{
  width:142px;
}

.equals {
  display: flex;
  flex-direction: column;
}
